#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

* {
    box-sizing: border-box;
}

body {
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
}

.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.store-info {
    margin: 0 0 40px 0;
}

.store-info h2.tit {
    padding: 0 0 5px 0;
}

h2.tit {
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
    margin-top: 100px;
}

.store-info .sub-info {
    overflow: hidden;
}

.store-info .sub-info .sub {
    float: left;
}

.store-info p {
    margin: 0;
    padding: 0;
}

.store-info .store-info-box {
    overflow: hidden;
    position: relative;
    margin: 10px 0 0 0;
    border-top: 1px solid #555;
    border-bottom: 1px solid #d8d9db;
}

.store-info .store-info-box:before {
    content: '';
    display: block;
    position: absolute;
    left: 479px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #d8d9db;
}

.store-info .store-info-box .left {
    float: left;
    width: 480px;
    padding: 0 0 30px 0;
}

.store-info .store-info-box .left .img {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.store-info .store-info-box .left .img p {
    display: table-cell;
    height: 400px;
    text-align: center;
    vertical-align: middle;
}

.store-info .store-info-box .left .img p img {
    max-width: 400px;
    max-height: 400px;
}

.store-info .store-info-box .right {
    float: left;
    width: calc(100% - 480px);
    padding: 15px 0 30px 40px;
}

.store-info .store-info-box .right .prdt-info .line {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.store-info .store-info-box .right .prdt-info .line .cont {
    display: table-cell;
    width: calc(100% - 100px);
    padding-top: 30px;
    vertical-align: top;
}

.store-info .store-info-box .right .prdt-info .line .tit {
    display: table-cell;
    width: 100px;
    padding-top: 30px;
    color: #222;
    vertical-align: top;
}

.store-info .store-info-box .line .txt.min {
    font-size: 14px;
    display: block;
    color: #ccc;
}

.line01 {
    line-height: 32px;
}

.line02 {
    line-height: 32px;
}

.store-info .store-info-box .right .type {
    margin: 15px 0 0 0;
    border-top: 1px solid #ebebeb;
}

.store-info .store-info-box .right .type .cont {
    overflow: hidden;
    display: table-cell;
    width: calc(100% - 100px);
    padding-top: 20px;
    vertical-align: top;
}

.store-info .store-info-box .right .type .tit {
    display: table-cell;
    width: 100px;
    padding-top: 20px;
    color: #222;
    vertical-align: top;
}

.store-info .store-info-box .right .type .receipt .line {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.store-info .store-info-box .right .type .receipt .line .btn {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
}

.store-info .store-info-box .right .type .receipt .line .input-text {
    display: block;
    float: left;
    width: 42px;
    text-align: center;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.input-text[readonly] {
    color: #aaa;
    background-color: #f7f8f9;
}

.input-text {
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    vertical-align: middle;
}

button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.ico-minus {
    width: 13px;
    height: 13px;
    background-image: url(/assets/img/ico-minus.png);
}

.ico-plus {
    width: 13px;
    height: 13px;
    background-image: url(/assets/img/ico-plus.png);
}

input {
    border: none;
    font-size: 20px;
}

.store-info .store-info-box .right .type .receipt .line .money {
    float: right;
}

.store-info .store-info-box .right .btn-group {
    overflow: hidden;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #ebebeb;
    text-align: center;
}

.store-info .store-info-box .right .btn-group .btn {
    display: block;
    float: left;
    width: calc(50% - 5px);
    margin: 2px;
    margin-top: 20px;
}

.btn.large {
    height: 46px;
    padding: 0 30px;
    line-height: 44px;
}

.store-info .store-info-box .right .btn-group .btn.purple {
    float: right;
    background: #503396;
    color: #fff
}

.btn {
    width: 285px;
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 32px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

#footer {
   margin-top: 100px;
}